.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  margin: 10px;
  width: 180px;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}